# Day 1 Exercise - Spotify Data EDA

In [1]:
import pandas as pd

#### Data Prep

In [2]:
# read and process the charts dataset
charts_df = pd.read_csv('../spotify_daily_charts.csv')
# transform date column into a datetime column
charts_df['date'] = pd.to_datetime(charts_df['date'])
charts_df.head()

,date,position,track_id,track_name,artist,streams
0,2017-01-01,1,0kN8xEmgMW9mh7UmDYHlJP,Versace on the Floor,Bruno Mars,185236
1,2017-01-01,2,5uCax9HTNlzGybIStD3vDh,Say You Won't Let Go,James Arthur,180552
2,2017-01-01,3,7BKLCZ1jbUBVqRi2FVlTVw,Closer,The Chainsmokers,158720
3,2017-01-01,4,2rizacJSyD9S1IQUxUxnsK,All We Know,The Chainsmokers,130874
4,2017-01-01,5,5MFzQMkrl1FOOng9tq6R9r,Don't Wanna Know,Maroon 5,129656

In [4]:
# read and process the tracks dataset
tracks_df = pd.read_csv('../spotify_daily_charts_tracks.csv')
tracks_df.head()

,track_id,track_name,artist_id,artist_name,album_id,duration,release_date,popularity,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo
0,0kN8xEmgMW9mh7UmDYHlJP,Versace on the Floor,0du5cEVh5yTK9QJze8zA0C,Bruno Mars,4PgleR09JVnm3zY1fW3XBA,261240,2016-11-17,75,0.578,0.574,2.0,-6.209,1.0,0.0454,0.196,0.00000,0.0830,0.301,174.152
1,5uCax9HTNlzGybIStD3vDh,Say You Won't Let Go,4IWBUUAFIplrNtaOHcJPRM,James Arthur,7oiJYvEJHsmYtrgviAVIBD,211466,2016-10-28,84,0.358,0.557,10.0,-7.398,1.0,0.0590,0.695,0.00000,0.0902,0.494,85.043
2,7BKLCZ1jbUBVqRi2FVlTVw,Closer,69GGBxA162lTqCwzJG5jLp,The Chainsmokers,0rSLgV8p5FzfnqlEk4GzxE,244960,2016-07-29,84,0.748,0.524,8.0,-5.599,1.0,0.0338,0.414,0.00000,0.1110,0.661,95.010
3,2rizacJSyD9S1IQUxUxnsK,All We Know,69GGBxA162lTqCwzJG5jLp,The Chainsmokers,0xmaV6EtJ4M3ebZUPRnhyb,194080,2016-09-29,69,0.662,0.586,0.0,-8.821,1.0,0.0307,0.097,0.00272,0.1150,0.296,90.000
4,5MFzQMkrl1FOOng9tq6R9r,Don't Wanna Know,04gDigrS5kc9YWfZHwBETP,Maroon 5,0fvTn3WXF39kQs9i3bnNpP,214480,2016-10-11,0,0.783,0.623,7.0,-6.126,1.0,0.0800,0.338,0.00000,0.0975,0.447,100.048

In [56]:
# merge the charts and tracks dataset
df = charts_df.merge(tracks_df, on='track_id', how='left')

df = df.drop(columns='track_name_y')
df = df.rename(columns={'track_name_x': 'track_name'})
df.head()

,date,position,track_id,track_name,artist,streams,artist_id,artist_name,album_id,duration,...,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo
0,2017-01-01,1,0kN8xEmgMW9mh7UmDYHlJP,Versace on the Floor,Bruno Mars,185236,0du5cEVh5yTK9QJze8zA0C,Bruno Mars,4PgleR09JVnm3zY1fW3XBA,261240.0,...,0.574,2.0,-6.209,1.0,0.0454,0.196,0.0,0.0830,0.301,174.152
1,2017-01-01,1,0kN8xEmgMW9mh7UmDYHlJP,Versace on the Floor,Bruno Mars,185236,0du5cEVh5yTK9QJze8zA0C,Bruno Mars,4PgleR09JVnm3zY1fW3XBA,261240.0,...,0.574,2.0,-6.209,1.0,0.0454,0.196,0.0,0.0830,0.301,174.152
2,2017-01-01,2,5uCax9HTNlzGybIStD3vDh,Say You Won't Let Go,James Arthur,180552,4IWBUUAFIplrNtaOHcJPRM,James Arthur,7oiJYvEJHsmYtrgviAVIBD,211466.0,...,0.557,10.0,-7.398,1.0,0.0590,0.695,0.0,0.0902,0.494,85.043
3,2017-01-01,2,5uCax9HTNlzGybIStD3vDh,Say You Won't Let Go,James Arthur,180552,4IWBUUAFIplrNtaOHcJPRM,James Arthur,7oiJYvEJHsmYtrgviAVIBD,211466.0,...,0.557,10.0,-7.398,1.0,0.0590,0.695,0.0,0.0902,0.494,85.043
4,2017-01-01,3,7BKLCZ1jbUBVqRi2FVlTVw,Closer,The Chainsmokers,158720,69GGBxA162lTqCwzJG5jLp,The Chainsmokers,0rSLgV8p5FzfnqlEk4GzxE,244960.0,...,0.524,8.0,-5.599,1.0,0.0338,0.414,0.0,0.1110,0.661,95.010

## Instructions

1. (10 mins) Think of 2-3 data science questions you can ask about the dataset. Write them down below

Question 1: How many weeks did Taylor Swift remained within Top 10 for 2021

Question 2: Who is the artist that has most consecutive apperance on top 10

Question 3: How many Twice songs are there in 2020

2. (10 mins) Paste the questions you wrote above in the breakout room chatbox. Pick 2-3 questions that another groupmate has written, copy the question in the cell below, and answer with code right after it

1. What are the top 10 longest songs in the dataset

In [63]:
# remove duplicate songs due to days
group_track_id = df.drop_duplicates(['track_name'])
# sort values
duration_ranking = group_track_id.sort_values(by = ['duration'], ascending=False)
# get top 10
duration_ranking[['track_name','artist', 'duration']].head(10)

,track_name,artist,duration
358542,All Too Well (10 Minute Version) (Taylor's Ver...,Taylor Swift,613026.0
359768,All Too Well (Sad Girl Autumn Version) - Recor...,Taylor Swift,598150.0
237538,Oceans (Where Feet May Fail),Hillsong UNITED,535962.0
1426,Give Me Love,Ed Sheeran,526386.0
72221,Kwento Ng Pasko,ABS-CBN Music All Star,487578.0
285579,Mirrors,Justin Timberlake,484146.0
373792,It's All Coming Back to Me Now,Céline Dion,456866.0
315963,Yearly,Ex Battalion,451932.0
171,Ang Huling El Bimbo,Eraserheads,447333.0
296239,Just the Two of Us (feat. Bill Withers),Grover Washington,438493.0

2. How many hit songs has Bruno Mars had since 2017?

In [77]:
# Create year column
df['Year'] = df['date'].dt.year
# create 2017 only df
chart_2017 = df[df['Year'] == 2017]
# create Bruno Mars df for 2017
bruno_2017 = chart_2017[chart_2017['artist_name'] == 'Bruno Mars']
# return unique track songs
hit_songs_bruno_mars = bruno_2017.track_id.unique()
# print length of df
len(hit_songs_bruno_mars)

11

3. Top 5 most followed artists

In [82]:
artist_df = pd.read_csv('../spotify_daily_charts_artists.csv')
artist_df.sort_values(by = ['total_followers'], ascending=False).head(5)

,artist_id,artist_name,total_followers,genres,popularity
38,6eUKZXaKkcviH0Ku9w2n3V,Ed Sheeran,102048541,"['pop', 'uk pop']",90
15,66CXWjxzNUsdJxJ2JdwvnR,Ariana Grande,82969929,"['dance pop', 'pop']",88
430,6qqNVTkY8uBg9cP3Jd7DAH,Billie Eilish,68269341,"['art pop', 'electropop', 'pop']",88
28,3TVXtAsR1Inumwj472S9r4,Drake,66787419,"['canadian hip hop', 'canadian pop', 'hip hop'...",95
49,1uNFoZAHBGtllmzznpCI3s,Justin Bieber,65517755,"['canadian pop', 'pop']",90

3. (15 mins) Pick one question that you have answered and take turns presenting this notebook with your code answer to the whole group.

In [83]:
# Create year column
df['Year'] = df['date'].dt.year
# create 2017 only df
chart_2017 = df[df['Year'] == 2017]
# create Bruno Mars df for 2017
bruno_2017 = chart_2017[chart_2017['artist_name'] == 'Bruno Mars']
# return unique track songs
hit_songs_bruno_mars = bruno_2017.track_id.unique()
# print length of df
len(hit_songs_bruno_mars)

11

*Submit this notebook at the end of class time*